{% extends "layouts/main.html" %}
{% load static %}

{% block body %}
  <div class="card">
    <div class="row g-0">
      <div class="col">
        <div class="card-body">
          <img src="{% static 'images/Kisil.jpg' %}" class="rounded float-start me-3 mb-2 img-fluid" width="317px" alt="st.Barbara">
          <p>V. Rev. Igor Kisil was born on April 4, 1965 in Lvow Region, Ukraine.</p>
          <p>From 1983 to 1985 he served in the military service.</p>
          <p>In 1989 he graduated from the Odessa Theological Seminary, in 1993 from the Moscow Theological Academy.</p>
          <p>From 1990 to 1997 he worked at the Department of External Church Relations of the Moscow Patriarchate.</p>
          <p>On January 7, 1997 he was ordained deacon and on the 9 of March presbyter by Metropolitan Kirill of Smolensk and Kalinigrad (now Patriarch of Moscow and All Russia) at the Dormition Cathedral of Smolensk.</p>
          <p>On April 17, 1997 by the decision of the Holy Synod he was appointed to Canada as a missionary priest of the Patriarchal Parishes of the Russian Orthodox Church.</p>
          <p>On July 12, 2018, by the Decree (Ukase) of His Grace, Job, Bishop of Kashira, Administrator of the Patriarchal Parishes in Canada, V. Rev. Igor Kisil, was released from his duties as the priest of Orthodox 9 Parishes and was appointed as the Rector of St. Barbara’s Cathedral in Edmonton.</p>
          <p>On September 10, 2018, by the Decree (Ukase) of His Grace, Matthew, Bishop of Sourozh, temporary Administrator of the Patriarchal Parishes in Canada, V. Rev Igor Kisil, Rector of St. Barbara’s Cathedral was appointed as the dean of the Patriarchal Parishes for the provinces of Alberta and Saskatchewan.</p>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col card-body">
        <p>V. Rev. Igor Kisil, Rector of St. Barbara’s Russian Orthodox Cathedral in Edmonton</p>
        <p>Address: 10105-96 Street, Edmonton, Alberta, T5H 2G3, Canada</p>
        <p>Tel: +1(780) 429-5920</p>
        <p>e-mail: ikisil@telus.net</p>
      </div>
    </div>
  </div>
{% endblock %}
