{% extends "layouts/main.html" %}
{% load static %}
{% load i18n %}

{% block body %}
  <div class="row">
    <div class="col">
      <div class="row g-5">
        <div class="col">
            <h3 class="pb-4 mb-4 fst-italic border-bottom"> {% translate "Latest news" %}</h3>
            <article>
              {% for row in news %}
                <h4 class="link-body-emphasis mb-1">
                  <a href="{% url 'news-detail' row.id %}" class="link-underline-opacity-0 link-dark">
                    {{ row.title }}
                  </a>
                </h4>
                <p class="blog-post-meta">{{ row.published_at|date:"F j, Y" }} by {{ row.author }}</p>
                <p>
                  {{ row.annotation }}
                </p>
                <hr>
              {% endfor %}
            </article>   
        </div>
      </div>
    </div>
    <div class="col-lg-3 d-none d-lg-block">
        <section id="ortox_collection-10" class="widget ortox_widget_collection">
          <script src="https://orthodox-calendar.info/calendar/cli/jsCalIndex.js?v=723"></script> 
          <link rel="stylesheet" type="text/css" href="https://orthodox-calendar.info/calendar/cli/jsCalStyles.css?v=723">
          <div class="orthodox-calendar-info">
            <table width="100%" border="0" class="nav-day">
              <tbody>
                <tr>
                  <td style="text-align: left;">
                    <a href="javascript:void(0);" id="alcal_step_back" title="Попередній">◄</a>
                  </td>
                  <td style="text-align: center;">
                    <h4>Календар</h4>
                  </td>
                  <td style="text-align: right;">
                    <a href="javascript:void(0);" id="alcal_step_forward" title="Наступний день">►</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <span id="alcal_print_icon"></span>
            <span id="alcal_print_day"></span>
            <span id="alcal_print_week"></span>
            <span id="alcal_print_trapeza"></span>
            <span id="alcal_print_saints"></span>
          </div>
        </section>
    </div>
  </div>
{% endblock %}
